*.out
*.log
.DS_Store
.idea
.vscode
*~

bin

# High Dynamic Range (HDR) Histogram files
*.hdr

# Generated benchmark data.
generated_data
*.data

# Generated benchmark query.
generated_query
*.query

# Bench parallel degree artifacts.
my_scripts/.bench_parallel_*
my_scripts/optimal_parallel_degree*.txt
